{% if src == "home" %}
    {{ form_start(form,{'attr': {'id': 'formSearch'}}) }}
    <div class="row">
        <div class="col-6">{{ form_row(form.name) }}</div>
        <div class="col-4">{{ form_row(form.city) }}</div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary btn-search" style="margin-top: 32px">
                        <span class="spinner-border text-white d-none js-spinner-save" role="status" style="width: 15px; height: 15px">
                            <span class="visually-hidden">Loading...</span>
                        </span>
                <i class="fa-solid fa-magnifying-glass js-check-save"></i>
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endif %}

{% if restaurants is empty %}
    <div class="col-md-12 mb-5">
        <h1 class="text-danger">Pas de données</h1>
    </div>
{% else %}

    {% if src == "home" %}
        {{ include('restaurant/fragments/list-pagination.html.twig') }}
    {% endif %}

    {% for r in restaurants %}
        {% set img = r.resto.medias.first() ? r.resto.medias.first().url : "NA"%}

        <div class="col-md-4 col-sm-12">

            <div class="card card-resto-home" style="border-style: hidden">
                <a href="{{ path('restaurant_page_detail_restaurant', {"restaurant_id": r.resto.id}) }}">
                    {% if img is same as("NA") %}
                        <img src="{{ asset('assets/images/resto1.jpg') }}" class="img-resto">
                    {% else %}
                        <img src="{{ asset('assets/photos_uploaded/' ~ img) }}"
                             alt=""
                             class="img-resto">
                    {% endif %}
                </a>
                <div class="card-body py-2 mb-5">
                    <a href="{{ path('restaurant_page_detail_restaurant', {"restaurant_id": r.resto.id}) }}">
                        <h5 class="card-title mb-1 link-title-card">{{ r.resto.name }}</h5>
                    </a>
                    <h5 class="card-title mb-1">{{ r.resto.city.name }}</h5>
                    <small><b>{{ r.avgNotes | number_format(1) }} / 5</b> ({{ r.countReviews }} avis)</small>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequuntur doloremque doloribus</p>

                    {# supprimer ou modifier #}
                    {# ne s'affichera sauf si la source (src) est depuis controller restaurateur  #}
                    {% if is_granted('ROLE_RESTAURATEUR') and src is same as("restaurateur") %}
                        {{ include('restaurant/fragments/btns-crud-resto.html.twig') }}
                    {% endif %}

                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
    {% if src == "home" %}
        {{ include('restaurant/fragments/list-pagination.html.twig') }}
    {% endif %}
{% endif %}
